<div class="container">
    <div class="row">
        <div class="col-xs-12" id="header">
            <h1>Eat Some Tacos!</h1>
            <img id="main-img" src="../public/images/5a309403597a94.8410470115131330593665.png">
        </div>
        <div class="col-xs-6" id="burger-menu">
            <div class="row">
                {{#each taco_data}}
                {{#unless this.devoured}}
                <div class="col-xs-9" id = "taco-id">
                    <pre>{{this.id}}. {{this.taco_name}}</pre>
                </div>
                <div class="col-sx-3">
                    <form class="devour">
                        <input type="hidden" name="taco_id" type="text" value={{this.id}}>
                        <br>
                        <button class="devour" class="btn btn-primary">
                            EAT DAT!
                        </button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
            <div class="col-xs-6">
                {{#each taco_data}}
                {{#if this.devoured}}
                <input class="form-control" type="text" placeholder="{{this.id}}. {{this.taco_name}}" readonly>
                {{/if}}
                {{/each}}
            </div>
            <div id="add-taco">
                <h2>Enter a Custom Taco!</h2>
                <div class="row" id="taco-box">
                    <div class="col-xs-12">
                        <form action="/tacos/create" method="POST">
                            <input type="text" name="taco_name" id="custom-taco">
                            <br>
                            <button type="submit" class="btn btn-secondary">TACO!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>